// app global css in SCSS form
// app global css in SCSS form

.large-screen-only {
    @media (max-width: $breakpoint-xl-min) {
      display: none;
    }
  
    @media (min-width: $breakpoint-xs-max) {
      display: block;
    }
  }
  
  .small-screen-only {
    @media (max-width: $breakpoint-xs-max) {
      display: block;
    }
  
    @media (min-width: $breakpoint-xs-max) {
      display: none;
      render: none;
    }
  }
  
  .text-left {
    text-align: left;
  }
  
  body {
    color: #262626;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row
  }
  
  .layout {
    background-color: #FDFEFF;
  }
  
  .custom-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }
  
  .footer-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
    background-color: #202030;
    /* Center items vertically */
    max-width: 1400px;
  }
  
  .footer-background {
    background-color: #202030;
  }
  
  .footer-item {
    /* Each item should take up an equal amount of space */
    text-align: left;
    flex: 1
      /* Center the text */
  }
  
  @media (max-width: 600px) {
    .footer-section {
      flex-direction: column;
    }
  
    .footer-item {
      text-align: left;
    }
  }
  
  .full-width {
    width: 100%;
  }
  
  .responsive-padding {
    padding-left: 96px;
    padding-right: 96px;
  }
  
  .responsive-margin-footer {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 96px;
    padding-right: 96px;
  }
  
  @media screen and (max-width: 1000px) {
    .responsive-margin-footer {
      margin-top: 32px;
      margin-bottom: 32px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  .my-section {
    max-width: 100%;
    max-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media screen and (max-width: 1000px) {
    .my-section {
      max-width: 100%;
      max-height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .landingSinging {
    background-image: url('../../src/assets/acapella.png');
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
  
  .landingFirst {
    background-color: #FDFEFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%233160bc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235652b0' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234564c3' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23272087' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%235a6abf' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%236460a9' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235860c1' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23636099' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23aaa9d6' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23504a97' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%233818a7' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23635e9b' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .landingFirstVTwo {
    background-color: #EEEEEE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c6c6c6' fill-opacity='0.15'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.15'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .landingMusic {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234300ae' fill-opacity='0.08'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }